@import url('http://fonts.googleapis.com/css?family=Muli|Open+Sans:300italic,400italic,600italic,400,300,600');

// declare some fonts
open = 'Open Sans', sans-serif;
muli = 'Muli', sans-serif;

// declare some colors 

// all of the blues whoa whoa whoa getting pretty crazy
blue = #006bb3
darkblue = #1b537b
bgblue = #164d73
minblue = #f6f8fa
fadedblue = #6496b9
darkfaded = #4a5963

lightgray = rgba(128, 128, 128, 0.5)
basicgray = #222
hovergray = #ccc

orange = #f26533
textorange = #ee5f12

// declare some font weights
normal = 400
light = 300
heavy = 600

/* MEDIA QUERY GUIDE 
Large devices — desktops, 1200px and up
Medium devices — desktops, 992px and up
Small devices — tablets, 768px and up
XS devices — less than 768px
*/



footer
	border-top 1px solid #ccc
	background-color #fff
	
	p
		font-family muli
		font-size 16px
		color #6d889a
		line-height 1.6
	ul.footernav
		margin 0
		padding 0

		li
			list-style none
			display inline-block
			margin 0
			padding 0
			font-family muli
			font-size 15px
			a
				color lightgray
				margin 0px 30px 5px 0
				&:hover
					color basicgray
					text-decoration none
			&.footer_link
				a
					color textorange

// everything over 992px (medium screens)
@media handheld, screen and (min-width: 992px)
	footer
		h6
			font-size 16px /* trying to avoid a linebreak here... */

// everything over 1200px (large screens)
@media handheld, screen and (min-width: 1200px)
	footer
		h6
			font-size 20px /* this is the default size anyhow */


* 
 * MISCELLANEOUS STYLES
 *
 * Includes easy centering, full width dividers (light and regular), spacer
 * helper classes, and liners for adding padding to columns without breaking
 * the bootstrap grid.
 *
 */

// easy center
.center
	text-align center
	margin auto

// mobile-only center
.mobile-center
	text-align center
	margin auto

	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px)
		text-align left
		margin 0 

// easy align right
.alignright
	text-align right


// image standards are important
img
	max-width 100%

// fullwidth divider
.fullwidthline
	background-color #e4ecf0
	height 1px
	width 100%

	&.dark
		background-color #dde5e8


// spacers
hr
	clear both
	border-style none
	height 1px
	margin 0
	display block

spacer(n)
	height n

	&.nomob
		@media handheld, screen and (max-width: 768px)
			display none

	&.notab
		@media handheld, screen and (max-width: 992px)
			display none

	&.mobonly
		display none
		
		@media handheld, screen and (max-width: 768px)
			display block

hr.spacer5
	spacer(5px)

hr.spacer10
	spacer(10px)

hr.spacer20
	spacer(20px)

hr.spacer30
	spacer(30px)

hr.spacer40
	spacer(40px)

hr.spacer50
	spacer(50px)

hr.spacer60
	spacer(60px)

// liners
.liner
	padding 20px

	&.big
		padding 30px

	&.noleft
		padding-left 0

	&.noright
		padding-right 0

	&.notop
		padding-top 0

	&.nobottom
		padding-bottom 0

	&.mobile-friendly
		// everything over 768px (tablet screens)
		@media handheld, screen and (max-width: 768px)
			padding 5px

		// everything over 768px (tablet screens)
		@media handheld, screen and (max-width: 992px)
			padding 10px

