/* start sticky footer */
* {
  margin: 0;
}
html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 100px; 
}
/* end sticky footer */


.inline{
	display: inline-block;
}


footer{
	background-color: teal;
	color: #222;
}

a {
	color: #5F9EA0;
}

body {
	color: #666666;
}


.navbar-default {
	background-color: #fff;
}

#spinner { height: 300px } 
